# 3.4 Progetto su Pandas, Cursor e MySQL - Parte 2

In questo progetto analizziamo un database di un ecommerce, sia tramite cursore che tramite Pandas. Il database scelto è su MySQL: per utilizzarlo va installato sul computer il software MySQL e da lì va importato il DB.

### Librerie

In [1]:
from sqlalchemy import create_engine, inspect
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
# from pandas_profiling import ProfileReport

### Metodi

In [2]:
# METHODS
def get_databases_table():
    """
    Prints the databases' tables' names
    :return: prints the table's names
    """
    inspector = inspect(db_connection)
    i = 0
    for table_name in inspector.get_table_names():
        print("Table %s: %s" % (i, table_name))
        i += 1


def choose_table(name):
    """
    In this method, we select data from either a table or a SQL statement
    :variable: name: either a table or a SQL statement
    :return: tavola: the data needed
    """
    tavola = pd.read_sql(name, db_connection)
    return tavola


def choose_tables_n_merge(name1, name2):
    """
    Given two tables, this method creates a new one with merged values
    :variable: name1: either a table or a SQL statement
    :variable: name2: either a table or a SQL statement
    :return: tavola3: the merged data
    """
    tavola1 = pd.read_sql(name1, db_connection)
    tavola2 = pd.read_sql(name2, db_connection)

    tavola3 = tavola1.merge(tavola2)
    return tavola3

### Analisi

Purtroppo jupiter non supporta la libreria necessaria per utilizzare la funzione "create_engine". Vedere l'effetto del codice su un altro IDE.
Qui si stabilisce la connessione tra Pandas e il DBMS.

In [ ]:
db_connection_str = 'mysql+mysqlconnector://root:rootstefano17@127.0.0.1/ecommerce'
db_connection = create_engine(db_connection_str)

La prima query è per scoprire lo schema del DB. Di seguito i due metodi per farlo: tramite SQL query e tramite metodo.

In [ ]:
# QUERY 1: QUALI TABELLE SONO NEL DATABASE ecommerce?
if True:
    sql1 = "SHOW TABLES;"
    print("\n1 QUALI TABELLE SONO NEL DATABASE ecommerce?\n", choose_table(sql1))
# QUERY 1: ma con pandas
# (False/False switch to speed up the program)
if True:
    get_databases_table()

La seconda query analizza le marche vendute nel ecommerce per numero e nome. Anche qui due vie per farlo: query SQL e Pandas.

In [ ]:
# QUERY 2: QUANTE E QUALI MARCHE SONO VENDUTE NEL ecommerce?
if True:
    sql2a = "SELECT count(nome) numero FROM marca;"
    sql2b = "SELECT nome FROM marca ORDER BY nome DESC LIMIT 10;"
    print("\n2a QUANTE MARCHE SONO VENDUTE NEL ecommerce?\n", choose_table(sql2a))
    print("\n2b QUALI MARCHE SONO VENDUTE NEL ecommerce?\n", choose_table(sql2b))
# QUERY 2: ma con pandas
# (False/False switch to speed up the program)
if True:
    pdsql2 = choose_table("marca")
    count = len(pdsql2['nome'])
    print("\n2a QUANTE MARCHE SONO VENDUTE NEL ecommerce?\n", count)
    print("\n2b QUALI MARCHE SONO VENDUTE NEL ecommerce?\n", pdsql2['nome'])

Quanti e quali prodotti sono in magazzino? Tramite Pandas è necessario scaricare le tabelle come DF, analizzarle e/o fare uno o più merge con altre tabelle.

In [ ]:
# QUERY 3: QUANTI E QUALI PRODOTTI SONO IN MAGAZZINO?
if True:
    sql3a = "SELECT count(nome) numero_prodotti FROM prodotto;"
    sql3b = "SELECT count(nome) numero_prodotti FROM prodotto WHERE quantita > 0;"
    sql3c = "SELECT nome FROM prodotto ORDER BY nome ASC LIMIT 5;"
    sql3d = "SELECT p.pid, p.nome, pp.nome, pp.pid FROM prodotto p JOIN correlati c ON p.pid = c.pid JOIN prodotto pp ON " \
            "c.relpid = pp.pid;"
    print("\n3a QUANTI PRODOTTI SONO IN LISTA?\n", choose_table(sql3a))
    print("\n3b QUANTI PRODOTTI SONO IN MAGAZZINO?\n", choose_table(sql3b))
    print("\n3c QUALI SONO I PRIMI 5 PRODOTTI?\n", choose_table(sql3c))
    print("\n3d QUALI PRODOTTI SONO CORRELATI?\n", choose_table(sql3d))
# QUERY 3: ma con pandas
# (False/False switch to speed up the program)
if True:
    pdsql3 = choose_table("prodotto")
    print("\n3a QUANTI PRODOTTI SONO IN LISTA?\n", len(pdsql3['nome']))

    pdsql32 = pdsql3[pdsql3.quantita > 0]
    print("\n3b QUANTI PRODOTTI SONO IN MAGAZZINO\n", len(pdsql32['nome']))

    print("\n3c QUALI SONO I PRIMI 5 PRODOTTI?\n", pdsql3['nome'].sort_values().head(5))

    # Terza query: pre-lavorazioni
    dsql3ab = choose_tables_n_merge("prodotto", "correlati")

    dsql3ab = dsql3ab[['pid', 'nome', 'relpid']]
    dsql3a = choose_table("prodotto")
    dsql3a = dsql3a[['pid', 'nome']]

    dsql3aba = pd.merge(dsql3ab.set_index('relpid'), dsql3a, right_on='pid', left_index=True)
    dsql3aba.drop('pid', axis=1, inplace=True)
    # special print
    with pd.option_context('display.max_rows', None,
                           'display.max_columns', None,
                           'display.precision', 3,
                           ):
        print("\n3d QUALI PRODOTTI SONO CORRELATI?\n", dsql3aba)

Analizzando queste query con Pandas è stato necessario cambiare le impostazioni di "print", così che permetta la visione dell'intero risultato.

In [ ]:
# QUERY 4: A CHE CATEGORIE CORRISPONDONO I PRODOTTI IN MAGAZZINO?
if True:
    sql4a = "SELECT count(nome) as numero_categorie FROM categoria;"
    sql4b = "SELECT nome FROM categoria ORDER BY nome DESC LIMIT 10;"
    # e quali cellulari e software hanno nel ecommerce?
    sql4c = "SELECT p.pid, p.nome, p.quantita FROM prodotto p JOIN categoria c ON c.cid=p.cid WHERE c.nome LIKE 'CELL%';"
    sql4d = "SELECT p.pid, p.nome, p.quantita FROM prodotto p JOIN categoria c ON c.cid=p.cid WHERE p.nome LIKE 'windows%';"
    print("\n4a QUANTE SONO LE CATEGORIE?\n", choose_table(sql4a))
    print("\n4b QUALI SONO LE ULTIME 10?\n", choose_table(sql4b))
    print("\n4c QUALI CELLULARI SONO IN MAGAZZINO?\n", choose_table(sql4c))
    print("Sono in lista, ma non sono in magazzino")
    print("\n4d QUALI SOFTWARE WINDOWS SONO IN MAGAZZINO?\n", choose_table(sql4d))
    print("Sono in lista, ma non sono in magazzino")
# QUERY 4: ma con pandas
# (False/False switch to speed up the program)
if True:
    cat = choose_table("categoria")
    num_nomi = len(cat[['nome']])
    print("\n4a QUANTE SONO LE CATEGORIE?\n", num_nomi)

    # "ascending = falso" mette in discendente
    cat2 = cat.sort_values(['nome'], ascending=[False])
    print("\n4b QUALI SONO LE ULTIME 10?\n", cat2['nome'].head(10))

    dsql4a = choose_table("prodotto")
    dsql4b = choose_table("categoria")
    dsql4ab = pd.merge(dsql4a.set_index('cid'), dsql4b, how='right',right_on='cid', left_index=True)
    dsql4ab = dsql4ab[['pid', 'nome_x', 'quantita', 'nome_y']]
    dsql4abc = dsql4ab

    dsql4ab = dsql4ab[dsql4ab['nome_y'].str.contains('CELL')]
    with pd.option_context('display.max_rows', None,
                           'display.max_columns', None,
                           'display.precision', 3,
                           ):
        print("\n4c QUALI CELLULARI SONO IN MAGAZZINO?\n", dsql4ab)

    dsql4abc = dsql4abc[dsql4abc['nome_y'].str.contains('MICROSOFT')]
    with pd.option_context('display.max_rows', None,
                           'display.max_columns', None,
                           'display.precision', 3,
                           ):
        print("\n4d QUALI SOFTWARE WINDOWS SONO IN MAGAZZINO?\n", dsql4abc)

In [ ]:
# QUERY 6: QUANTO VALORE HANNO IN MEDIA I PRODOTTI PER CATEGORIA?
if True:
    sql6a = "SELECT c.nome, AVG(pr.valore) media FROM categoria c JOIN prodotto p ON c.cid=p.cid JOIN prezzo pr ON pr.pid=p.pid GROUP BY c.nome ORDER BY media DESC;"
    print("\n6 QUANTO VALORE HANNO IN MEDIA I PRODOTTI PER CATEGORIA?\n", choose_table(sql6a))

Per rendere più semplice l'analisi, da queste query si possono creare due Barplot.

In [ ]:
# QUERY 7: QUANTI PRODOTTI CI SONO PER CATEGORIA? E PER MARCA? + PLOT
if True:
    sql7a = "SELECT c.nome, count(c.nome) numero FROM categoria c JOIN prodotto p ON c.cid=p.cid GROUP BY c.nome ORDER BY numero DESC;"
    sql7b = "SELECT m.nome, count(m.nome) numero FROM marca m JOIN prodotto p ON p.mid = m.mid GROUP BY m.nome ORDER BY numero DESC;"
    print("\n7a QUANTI PRODOTTI CI SONO PER CATEGORIA?\n", choose_table(sql7a))
    print("\n7b QUANTI PRODOTTI CI SONO PER MARCA?\n", choose_table(sql7b))

I Barplot:

In [ ]:
# BARPLOT 1: PRODOTTI PER CATEGORIA
    df7a = pd.DataFrame(choose_table(sql7a))

    # REPORT
    # profile = ProfileReport(df7a, title="Pandas Profiling Report")
    # profile.to_file("report1.html")

    ls7a = df7a.values.tolist()
    ls7ax = []
    la7ay = []
    for i in range(0, len(ls7a)):
        ls7ax.append(ls7a[i][0])
        la7ay.append(ls7a[i][1])

    # barh per horizontal
    plt.bar(ls7ax, la7ay)
    plt.show()

    # BARPLOT 2: PRODOTTI PER MARCA
    df7b = pd.DataFrame(choose_table(sql7b))

    # REPORT
    # profile = ProfileReport(df7a, title="Pandas Profiling Report")
    # profile.to_file("report1.html")

    ls7b = df7b.values.tolist()
    ls7bx = []
    la7by = []
    for i in range(0, len(ls7b)):
        ls7bx.append(ls7b[i][0])
        la7by.append(ls7b[i][1])

    plt.bar(ls7bx, la7by)
    plt.show()

In [ ]:
# QUERY 8: QUALI SONO I 5 PRODOTTI BESTSELLER PER QUANTITA' E GUADAGNO?
if True:
    sql8a = "SELECT p.pid, od.oid, p.nome, p.quantita as qta_stock, sum(o.quantita) as quantita_venduta_tot, prezzo*sum(o.quantita) as prezzo_tot, prezzo FROM prodotto p JOIN orpr01 o ON p.pid = o.pid JOIN ordine od ON od.oid = o.oid GROUP BY o.pid ORDER BY quantita_venduta_tot DESC LIMIT 6;"
    sql8b = "SELECT p.pid, od.oid, p.nome, p.quantita as qta_stock, sum(o.quantita) as quantita_venduta_tot, prezzo*sum(o.quantita) as prezzo_tot, prezzo FROM prodotto p JOIN orpr01 o ON p.pid = o.pid JOIN ordine od ON od.oid = o.oid GROUP BY o.pid ORDER BY prezzo_tot DESC LIMIT 5;"
    # special print
    with pd.option_context('display.max_rows', None,
                           'display.max_columns', None,
                           'display.precision', 3,
                           ):
        print("\n8a QUALI SONO I 5 PRODOTTI BESTSELLER PER QUANTITA'?\n", choose_table(sql8a))
        print("\n8b QUALI SONO I 5 PRODOTTI BESTSELLER PER GUADAGNO?\n", choose_table(sql8b))

In [ ]:
# QUERY 9: QUALI SONO I METODI DI PAGAMENTO E SPEDIZIONE PRINCIPALI?
if True:
    sql9a = "SELECT count(oid) as numero_ordini, s.nome as metodo_spedizione, s.costo, count(oid)*s.costo as costo_spedizioni_tot, pag.nome as metodo_pagamento, pag.costo, count(oid)*pag.costo as costo_pagamento_tot FROM pasp01 pa JOIN spedizione s ON pa.spid = s.spid RIGHT JOIN ordine o ON o.paspid = pa.paspid JOIN pagamento pag ON pa.paid = pag.paid GROUP BY s.nome, pag.nome;"
    # special print
    with pd.option_context('display.max_rows', None,
                           'display.max_columns', None,
                           'display.precision', 3,
                           ):
        print("\n9 QUALI SONO I METODI DI PAGAMENTO E SPEDIZIONE PRINCIPALI?\n", choose_table(sql9a))

In [ ]:
# QUERY 10: A QUALI CITTA E PROVINCE SI SPEDISCE DI PIU'?
if True:
    sql10a = "SELECT provincia, citta, count(citta) as numero_indirizzi_utente FROM indirizzo GROUP BY provincia, citta ORDER BY provincia, numero_indirizzi_utente DESC;"
    sql10b = "SELECT provincia, count(citta) as numero_indirizzi_utente FROM indirizzo GROUP BY provincia ORDER BY numero_indirizzi_utente DESC;"
    print("\n10a A QUALI CITTA SI SPEDISCE DI PIU'?\n", choose_table(sql10a))
    print("Città: Roma, Milano")
    print("\n10b A QUALI PROVINCE SI SPEDISCE DI PIU'\n?", choose_table(sql10b))
    print("Province: Roma, Milano")

## Conclusioni

1 QUALI TABELLE SONO NEL DATABASE ecommerce?
    Tables_in_ecommerce
0            categoria
1            correlati
2             immagine
3            indirizzo
4              listino
5              livello
6                marca
7               ordine
8               orpr01
9            pagamento
10              pasp01
11              prezzo
12              prim01
13            prodotto
14          spedizione
15               stato
16              subcat
17              utente

Table 0: categoria
Table 1: correlati
Table 2: immagine
Table 3: indirizzo
Table 4: listino
Table 5: livello
Table 6: marca
Table 7: ordine
Table 8: orpr01
Table 9: pagamento
Table 10: pasp01
Table 11: prezzo
Table 12: prim01
Table 13: prodotto
Table 14: spedizione
Table 15: stato
Table 16: subcat
Table 17: utente

2a QUANTE MARCHE SONO VENDUTE NEL ecommerce?
    numero
0      89

2b QUALI MARCHE SONO VENDUTE NEL ecommerce?
                nome
0               XFX
1  WESTERN DIGI-TAL
2             WACOM
3          VERBATIM
4           V-DA-TA
5          TWINTECH
6          TRAXDATA
7          TRASCEND
8           TP-LINK
9           TOSHIBA

2a QUANTE MARCHE SONO VENDUTE NEL ecommerce?
 89

2b QUALI MARCHE SONO VENDUTE NEL ecommerce?
 0           CAPTI-VA
1     COOLER MA-STER
2               ITEK
3          KING-STON
4               LINQ
           ...      
84         EXCELERAM
85             NIKON
86              TEAC
87           GEMBIRD
88          TRASCEND
Name: nome, Length: 89, dtype: object

3a QUANTI PRODOTTI SONO IN LISTA?
    numero_prodotti
0              747

3b QUANTI PRODOTTI SONO IN MAGAZZINO?
    numero_prodotti
0              184

3c QUALI SONO I PRIMI 5 PRODOTTI?
                                                 nome
0  ACCESS POINT TP-LINK 108MBPS AH300350T SUPPORT...
1  ACCESS POINT TP-LINK TL-WA500G, 54MBPS, SUPPOR...
2  ACCESS POINT TP-LINK TL-WA901ND, 300MBPS, POTE...
3  ACER AS5810T-354G32MN, LX.PBB0X.144, 15.6polli...
4  ACER ASPIRE 5736Z-453G32MNKK (LX.R7Z02.003), D...

3d QUALI PRODOTTI SONO CORRELATI?
         pid  ...      pid
0   4000007  ...  4000006
1   MOU0006  ...  ACC0013
2   ACC0032  ...  ACC0033
3   MOU0006  ...  ALI0001
4   MOU0006  ...  ALI0012
5   ZNS0001  ...  ALI0012
6   MOU0006  ...  CAS0016
7   MOU0006  ...  CIN0024
8   MOU0006  ...  HDE0003
9   NOT0001  ...  HDM0005
10  LCD0010  ...  MDV0005
11  MOU0006  ...  MP30003
12  SRE0003  ...  NOT0001
13  CTO0002  ...  NRO0005
14  MOU0006  ...  NRO0005
15  HDM0005  ...  SDD0007
16  MBI0019  ...  SDD0007
17  MOU0006  ...  SDD0007
18  MP30003  ...  SDD0007
19  NOT0001  ...  SDD0007
20  NRO0002  ...  SDD0007
21  STM0003  ...  SDD0007
22  ZAN0007  ...  SDD0007
23  MOU0006  ...  SRE0003
24  MOU0006  ...  ZAN0007
25  ZNS0001  ...  ZNS0002

[26 rows x 4 columns]

3a QUANTI PRODOTTI SONO IN LISTA?
 747

3b QUANTI PRODOTTI SONO IN MAGAZZINO
 184

3c QUALI SONO I PRIMI 5 PRODOTTI?
 613    ACCESS POINT TP-LINK 108MBPS AH300350T SUPPORT...
617    ACCESS POINT TP-LINK TL-WA500G, 54MBPS, SUPPOR...
626    ACCESS POINT TP-LINK TL-WA901ND, 300MBPS, POTE...
574    ACER AS5810T-354G32MN, LX.PBB0X.144, 15.6polli...
584    ACER ASPIRE 5736Z-453G32MNKK (LX.R7Z02.003), D...
Name: nome, dtype: object

3d QUALI PRODOTTI SONO CORRELATI?
        pid_x                                             nome_x    pid_y  \
5    4000007           DIMM NILOX MN1004 1GB DDR 400MHZ PC-3200  4000006   
39   ACC0032              CUFFIE SHIN-TEK FHS16215 JOCKEY BLACK  ACC0033   
598  CTO0002  CARTUCCIA TONER HP LASERJET CP 1215-1515N-1518...  NRO0005   
598  MOU0006               MOUSE HANTOL PLUS CON CONNETTORE PS2  NRO0005   
639  HDM0005  CAVO DI CON-NESSIONE HDMI 19 PIN TIPO A MASCHI...  SDD0007   
639  MBI0019  SCHEDA MADRE GIGABYTE GA-H55M-D2H, SOCKET 1156...  SDD0007   
639  MOU0006               MOUSE HANTOL PLUS CON CONNETTORE PS2  SDD0007   
639  MP30003            LETTORE MP3 CLIP TUBE NILOX 2GB SIL-VER  SDD0007   
639  NOT0001  ACER AS5810T-354G32MN, LX.PBB0X.144, 15.6polli...  SDD0007   
639  NRO0002           ROUTER ADSL-ADSL2 4P. E FIREWALL TP-LINK  SDD0007   
639  STM0003  STAMPANTE HP PHOTOSMART PREMIUM AIO CD055B#BGW...  SDD0007   
639  ZAN0007         CARICABATTERIE UNIVERSALE PER NETBOOK ASUS  SDD0007   
495  LCD0010  MONITOR LCD 21,5pollici; LG W2243T-PF WIDE, FU...  MDV0005   
19   MOU0006               MOUSE HANTOL PLUS CON CONNETTORE PS2  ACC0013   
123  MOU0006               MOUSE HANTOL PLUS CON CONNETTORE PS2  ALI0001   
135  MOU0006               MOUSE HANTOL PLUS CON CONNETTORE PS2  ALI0012   
135  ZNS0001  CAVO RETE UTP CAT.5E NON SCHERMATO - LUNGHEZZA...  ALI0012   
157  MOU0006               MOUSE HANTOL PLUS CON CONNETTORE PS2  CAS0016   
195  MOU0006               MOUSE HANTOL PLUS CON CONNETTORE PS2  CIN0024   
338  MOU0006               MOUSE HANTOL PLUS CON CONNETTORE PS2  HDE0003   
535  MOU0006               MOUSE HANTOL PLUS CON CONNETTORE PS2  MP30003   
675  MOU0006               MOUSE HANTOL PLUS CON CONNETTORE PS2  SRE0003   
720  MOU0006               MOUSE HANTOL PLUS CON CONNETTORE PS2  ZAN0007   
352  NOT0001  ACER AS5810T-354G32MN, LX.PBB0X.144, 15.6polli...  HDM0005   
574  SRE0003    KASPERSKY ANTIVIRUS 2011 - 3 PC VERSIONE BOXATA  NOT0001   
736  ZNS0001  CAVO RETE UTP CAT.5E NON SCHERMATO - LUNGHEZZA...  ZNS0002   

                                                nome_y  
5            RAM DDR 400 PC3200 CORSAIR 1GB VS1GB400C3  
39                   ADATTATORE HOST IDE-SATA INTER-NO  
598  DIGICOM 8E4410 ROUTER MODEM WIRELESS, ADSL 2-2...  
598  DIGICOM 8E4410 ROUTER MODEM WIRELESS, ADSL 2-2...  
639                  SO-DIMM DDR PC400 1GB CL3 CORSAIR  
639                  SO-DIMM DDR PC400 1GB CL3 CORSAIR  
639                  SO-DIMM DDR PC400 1GB CL3 CORSAIR  
639                  SO-DIMM DDR PC400 1GB CL3 CORSAIR  
639                  SO-DIMM DDR PC400 1GB CL3 CORSAIR  
639                  SO-DIMM DDR PC400 1GB CL3 CORSAIR  
639                  SO-DIMM DDR PC400 1GB CL3 CORSAIR  
639                  SO-DIMM DDR PC400 1GB CL3 CORSAIR  
495           DVD+R DOUBLE LAYER VERBATIM CAKE DA 10PZ  
19   BATTERIA TAMPONE AL LITIO 3 VOLT A BOTTONE IEC...  
123  ALIMENTATORE 500W AMD-INTEL 20-24 PIN VENTOLA ...  
135         ALIMENTATORE INTER-TECH SL-700 700W SILENT  
135         ALIMENTATORE INTER-TECH SL-700 700W SILENT  
157                          CASE MID 500W ITEK SPA-CE  
195  CARTUCCIA HP 88 (C9388AE) GIALLO PER STAMPANTI...  
338  HARD DISK ESTERNO 3,5pollici; WESTERN DIGITAL ...  
535            LETTORE MP3 CLIP TUBE NILOX 2GB SIL-VER  
675    KASPERSKY ANTIVIRUS 2011 - 3 PC VERSIONE BOXATA  
720         CARICABATTERIE UNIVERSALE PER NETBOOK ASUS  
352  CAVO DI CON-NESSIONE HDMI 19 PIN TIPO A MASCHI...  
574  ACER AS5810T-354G32MN, LX.PBB0X.144, 15.6polli...  
736        CAVO DI RETE UTP CAT.5E NON SCHERMATO - 5MT

4a QUANTE SONO LE CATEGORIE?
    numero_categorie
0               173

4b QUALI SONO LE ULTIME 10?
                 nome
0             WEBCAM
1             WEBCAM
2    VIDEOPROIETTORI
3         VIDEOGAMES
4         VIDEOGAMES
5                UPS
6    TONER ORIGINALI
7  TONER COMPATIBILI
8               TEST
9     TELEVISORI LCD

4c QUALI CELLULARI SONO IN MAGAZZINO?
        pid                                               nome  quantita
0  CEL0001                                  NOKIA N2730 BLACK         0
1  CEL0003    CELLULARE NOKIA 6210 NA-VIGATOR GARANZIA EUROPA         0
2  CEL0004  CELLULARE SAMSUNG B7722 DUAL SIM, TOUCH 3,2pol...         0
3  CEL0005                    CELLULARE NOKIA S5230 ITA BLACK         0
Sono in lista, ma non sono in magazzino

4d QUALI SOFTWARE WINDOWS SONO IN MAGAZZINO?
        pid                                   nome  quantita
0  SOE0001  WINDOWS 7 ITA PROFESSIONAL 64 BIT OEM         0
1  SOE0002  WINDOWS 7 ITA HOME PREMIUM 64 BIT OEM         0
2  SOE0004    WINDOWS XP PROFESSIONAL OEM EDITION         0
3  SOE0006        WINDOWS XP HOME EDITION OEM SP3         0
4  SOE0007         WINDOWS SERVER STANDARD 2008R2         0
5  SOE0008       WINDOWS 7 HOME PREMIUM 32BIT OEM         0
Sono in lista, ma non sono in magazzino

4a QUANTE SONO LE CATEGORIE?
 173

4b QUALI SONO LE ULTIME 10?
 53     ACCESS POINT E PERIFERICHE WIRELESS
123    ACCESS POINT E PERIFERICHE WIRELESS
9                      ACCESSORI BLUETOOTH
15                      ACCESSORI FIREWIRE
64                      ACCESSORI NOTEBOOK
66                           ACCESSORI USB
0                           ACCESSORI VARI
98                          ACCESSORI VARI
136                         ACCESSORI VARI
156                         ACCESSORI VARI
Name: nome, dtype: object

4c QUALI CELLULARI SONO IN MAGAZZINO?
          pid                                             nome_x  quantita  \
147  CEL0001                                  NOKIA N2730 BLACK       0.0   
147  CEL0003    CELLULARE NOKIA 6210 NA-VIGATOR GARANZIA EUROPA       0.0   
147  CEL0004  CELLULARE SAMSUNG B7722 DUAL SIM, TOUCH 3,2pol...       0.0   
147  CEL0005                    CELLULARE NOKIA S5230 ITA BLACK       0.0   

        nome_y  
147  CELLULARI  
147  CELLULARI  
147  CELLULARI  
147  CELLULARI  

4d QUALI SOFTWARE WINDOWS SONO IN MAGAZZINO?
         pid                                             nome_x  quantita  \
59      NaN                                                NaN       NaN   
93  SOE0001              WINDOWS 7 ITA PROFESSIONAL 64 BIT OEM       0.0   
93  SOE0002              WINDOWS 7 ITA HOME PREMIUM 64 BIT OEM       0.0   
93  SOE0003         OFFICE SBE 2007 ITA - SOLO LICENZA - NO CD       0.0   
93  SOE0004                WINDOWS XP PROFESSIONAL OEM EDITION       0.0   
93  SOE0005  MICROSOFT OFFICE BASIC EDITION 2007 ITA - SOLO...       0.0   
93  SOE0006                    WINDOWS XP HOME EDITION OEM SP3       0.0   
93  SOE0007                     WINDOWS SERVER STANDARD 2008R2       0.0   
93  SOE0008                   WINDOWS 7 HOME PREMIUM 32BIT OEM       0.0   

                nome_y  
59  SOFTWARE MICROSOFT  
93  SOFTWARE MICROSOFT  
93  SOFTWARE MICROSOFT  
93  SOFTWARE MICROSOFT  
93  SOFTWARE MICROSOFT  
93  SOFTWARE MICROSOFT  
93  SOFTWARE MICROSOFT  
93  SOFTWARE MICROSOFT  
93  SOFTWARE MICROSOFT

5a A QUANTO SONO VENDUTI I SOFTWARE WINDOWS?
         pid                                   nome     valore
0   SOE0001  WINDOWS 7 ITA PROFESSIONAL 64 BIT OEM   158.0000
1   SOE0001  WINDOWS 7 ITA PROFESSIONAL 64 BIT OEM   139.5670
2   SOE0002  WINDOWS 7 ITA HOME PREMIUM 64 BIT OEM   113.0000
3   SOE0002  WINDOWS 7 ITA HOME PREMIUM 64 BIT OEM    99.8167
4   SOE0004    WINDOWS XP PROFESSIONAL OEM EDITION   108.0000
5   SOE0004    WINDOWS XP PROFESSIONAL OEM EDITION    95.4000
6   SOE0006        WINDOWS XP HOME EDITION OEM SP3   578.0000
7   SOE0006        WINDOWS XP HOME EDITION OEM SP3   510.5670
8   SOE0007         WINDOWS SERVER STANDARD 2008R2   964.0000
9   SOE0007         WINDOWS SERVER STANDARD 2008R2   851.5330
10  SOE0008       WINDOWS 7 HOME PREMIUM 32BIT OEM  1868.0000
11  SOE0008       WINDOWS 7 HOME PREMIUM 32BIT OEM  1650.0700
Qui è rappresentato il valore

5b VALORE E PREZZO SONO LA STESSA COSA? ESEMPIO PER id prodotto: '4000001'
        pid                          nome  prezzo   valore
0  4000001  DIMM 1GB PC400 DDR KING-STON    32.5  76.0000
1  4000001  DIMM 1GB PC400 DDR KING-STON    32.5  67.1333
2  4000001  DIMM 1GB PC400 DDR KING-STON    32.5  76.0000
3  4000001  DIMM 1GB PC400 DDR KING-STON    32.5  67.1333
4  4000001  DIMM 1GB PC400 DDR KING-STON    32.5  76.0000
5  4000001  DIMM 1GB PC400 DDR KING-STON    32.5  67.1333
Valore e prezzo non sono la stessa cosa

6 QUANTO VALORE HANNO IN MEDIA I PRODOTTI PER CATEGORIA?
                               nome        media
0         BOX ESTERNI MULTIMEDIALI  1619.667480
1          COMPUTER FISSI COMPLETI  1603.659973
2   NETWORK ATTACHED STORAGE (NAS)  1527.385010
3                            EBOOK  1494.424988
4                  VIDEOPROIETTORI  1445.459991
..                             ...          ...
76                    RISCRIVIBILI   320.166504
77          SCHEDE DI ACQUISIZIONE   314.516495
78                          SERVER   118.650002
79              PERIFERICHE GAMING   116.766499
80        STAMPANTI LASER A COLORI   106.879175

[81 rows x 2 columns]

7a QUANTI PRODOTTI CI SONO PER CATEGORIA?
                               nome  numero
0                   ACCESSORI VARI      75
1                       CAVETTERIA      38
2                MONITOR LCD E LED      29
3                            MOUSE      27
4                  MAINBOARD INTEL      26
..                             ...     ...
76          SCHEDE DI ACQUISIZIONE       1
77                       TABLET PC       1
78  NETWORK ATTACHED STORAGE (NAS)       1
79                         CONSOLE       1
80             FOTOCAMERE COMPATTE       1

[81 rows x 2 columns]

7b QUANTI PRODOTTI CI SONO PER MARCA?
          nome  numero
0        ASUS      31
1        ITEK      28
2          HP      24
3     SAMSUNG      21
4        ACER      17
..        ...     ...
72  EXCELERAM       1
73      NIKON       1
74     FORTIS       1
75    GEMBIRD       1
76   TRASCEND       1

[77 rows x 2 columns]

8a QUALI SONO I 5 PRODOTTI BESTSELLER PER QUANTITA'?
        pid  oid                                               nome  qta_stock  \
0  DR20008    2                DIMM DDRII PC533 1GB CL4.0 KINGSTON        100   
1  MBI0013    3  SCHEDA MADRE ASROCK G41C-S, MICRO ATX, SOCKET ...        100   
2  ACC0007    1               MODULA PLUG 30Upollici; GLOD PLA-TED        130   
3  4000001    1                       DIMM 1GB PC400 DDR KING-STON        100   
4  CIN0018    2                               CARTUCCIA CANON CL41        100   
5  ZAN0007    1         CARICABATTERIE UNIVERSALE PER NETBOOK ASUS        100   

   quantita_venduta_tot  prezzo_tot  prezzo  
0                  12.0      283.92   23.66  
1                  11.0      438.90   39.90  
2                  10.0        1.90    0.19  
3                   7.0      227.50   32.50  
4                   7.0      145.67   20.81  
5                   6.0      179.40   29.90  

8b QUALI SONO I 5 PRODOTTI BESTSELLER PER GUADAGNO?
        pid  oid                                               nome  qta_stock  \
0  NOT0001    4  ACER AS5810T-354G32MN, LX.PBB0X.144, 15.6polli...        100   
1  LCD0001    3               MONITOR LCD 19 POLLICI LG W1943SS-PF        100   
2  MBI0013    3  SCHEDA MADRE ASROCK G41C-S, MICRO ATX, SOCKET ...        100   
3  MBA0016    3  SCHEDA MADRE AM3 GIGABYTE GA-M52LT-D3, CHIPSET...        100   
4  CTO0011   23  TONER ORIGINALE HP CE505A NERO PER STAMPANTI P...        100   

   quantita_venduta_tot  prezzo_tot  prezzo  
0                   2.0      923.22  461.61  
1                   6.0      586.56   97.76  
2                  11.0      438.90   39.90  
3                   6.0      302.10   50.35  
4                   4.0      285.00   71.25

9 QUALI SONO I METODI DI PAGAMENTO E SPEDIZIONE PRINCIPALI?
    numero_ordini          metodo_spedizione  costo  costo_spedizioni_tot  \
0             12  Consegna con corriere GLS    9.9                 118.8   
1              2  Consegna con corriere GLS    9.9                  19.8   
2              3        Spedizione in posta   31.0                  93.0   
3              8        Spedizione in posta   31.0                 248.0   

                 metodo_pagamento  costo  costo_pagamento_tot  
0                    Contrassegno    5.0                 60.0  
1  Pagamento con Carta di Credito    0.0                  0.0  
2                    Contrassegno    5.0                 15.0  
3  Pagamento con Carta di Credito    0.0                  0.0

10a A QUALI CITTA SI SPEDISCE DI PIU'?
           provincia               citta  numero_indirizzi_utente
0           Cosenza             Cosenza                        2
1           Cosenza       Castrovillari                        1
2            Milano              Milano                        6
3            Milano     Cologno Monzese                        1
4            Milano              Assago                        1
5           Pistoia             Pistoia                        3
6           Pistoia     Massa e Cozzile                        1
7   Reggio Calabria  Gallico Superio-re                        1
8              Roma                Roma                       10
9              Roma            Frascati                        1
10             Roma             Nettuno                        1
Città: Roma, Milano

10b A QUALI PROVINCE SI SPEDISCE DI PIU'
?          provincia  numero_indirizzi_utente
0             Roma                       12
1           Milano                        8
2          Pistoia                        4
3          Cosenza                        3
4  Reggio Calabria                        1
Province: Roma, Milano

Process finished with exit code 0